@import "./src/scss/vars";

.dropdown {
    width: 100%;

    margin: 16px auto;

    border: 1px solid gray;
    border-radius: 5px;

    cursor: pointer;
}

.item {
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 5px 0;
    border-top: 1px solid $gray;

    text-align: center;
}

.itemText {
    opacity: 0.5;
}

.itemActive {
    border: none;

    opacity: 1;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.itemActiveText {
    position: relative;
}

.dropdownSvg {
    position: absolute;
    bottom: 2px;
    right: -20px;
}

.dropdownSvgActive {
    transform: rotate(90deg);
}

